<html>
<head>
  <meta charset="UTF-8">
  <title>ReactJS/Prosody Chat</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>

  <div id="messages-wrapper"></div>


  <script src="/vendor/js/JSXTransformer.js"></script>
  <script src="/vendor/js/react.js"></script>
  <script src="/vendor/js/strophe.js"></script>
  <script src="/vendor/bower_components/reflux/dist/reflux.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


  <script src="/js/chat_actions.js"></script>

  <!-- Candy -->
  <script src="/js/candy/candy.js"></script>
  <script src="/js/candy/core.js"></script>
  <script src="/js/candy/view.js"></script>
  <script src="/js/candy/util.js"></script>
  <script src="/js/candy/core/action.js"></script>
  <script src="/js/candy/core/chatRoom.js"></script>
  <script src="/js/candy/core/chatRoster.js"></script>
  <script src="/js/candy/core/chatUser.js"></script>
  <script src="/js/candy/core/contact.js"></script>
  <script src="/js/candy/core/event.js"></script>
  <script src="/vendor/bower_components/strophejs-plugins/muc/strophe.muc.js"></script>
  <script src="/vendor/bower_components/strophejs-plugins/roster/strophe.roster.js"></script>
  <script src="/vendor/bower_components/strophejs-plugins/disco/strophe.disco.js"></script>
  <script src="/vendor/bower_components/strophejs-plugins/caps/strophe.caps.jsonly.js"></script>

  <!-- Chat App -->
  <script src="/js/connection.js"></script>
  <script src="/js/chat_store.js"></script>
  <script type="text/jsx" src="/js/chat_components.js"></script>
</body>
</html>
