<html>
<head>
  <meta charset="UTF-8">
  <title>ReactJS/Prosody Chat</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>

  <div id="messages-wrapper"></div>


  <script src="/vendor/js/JSXTransformer.js"></script>
  <script src="/vendor/js/react.js"></script>
  <script src="/vendor/js/strophe.js"></script>
  <script src="/vendor/bower_components/reflux/dist/reflux.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <script type="text/jsx" src="/js/connection.js"></script>

  <script type="text/jsx" src="/js/chat_actions.js"></script>
  <script type="text/jsx" src="/js/chat_store.js"></script>
  <script type="text/jsx" src="/js/chat_components.js"></script>
</body>
</html>
